node_modules/
/dist
/www
/out-tsc
/bazel-out

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.nyc_output

# production
/build
/dist

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db

# Capacitor files
/android/.gradle/
/android/local.properties
/android/app/build/
/android/capacitor-cordova-android-plugins/build/
/ios/

# Environment
.env
.env.local

# Log files
*.log
