<ion-tabs (touchstart)="recordSwipeStart($event)" (touchend)="completeSwipe($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="call" href="/tabs/call">
      <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M5.4 4.8h3.1l1.6 4-2 1.6a14 14 0 0 0 5.5 5.5l1.6-2 4 1.6v3.1a1.4 1.4 0 0 1-1.5 1.4A15.8 15.8 0 0 1 4 6.3a1.4 1.4 0 0 1 1.4-1.5z" /></svg>
      <ion-label>Call</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="history" href="/tabs/history">
      <svg viewBox="0 0 24 24" aria-hidden="true"><circle cx="12" cy="12" r="8.5"/><path d="M12 7v5l3.3 2" /></svg>
      <ion-label>History</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" href="/tabs/settings">
      <svg viewBox="0 0 24 24" aria-hidden="true"><path d="M4 7h9m4 0h3M4 17h3m4 0h9M13 5v4M9 15v4" /></svg>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>