// Ionic Variables and Theming
// Ionic uses a namespace called `--ion-*` for css variables

// System Colors
$colors: (
  primary: #d6ef79,
  secondary: #e6bd71,
  tertiary: #f27660,
  success: #d6ef79,
  warning: #e6bd71,
  danger: #f27660,
  dark: #171a16,
  medium: #a5a99a,
  light: #f3f2e7,
);

// Named Colors aliases
$colors: map-merge(
  $colors,
  (
    favorite: #ffd900,
  )
);

@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

:root {
  // Custom Ionic CSS variables
  --ion-color-step-50: #22251f;
  --ion-color-step-100: #2c3028;
  --ion-color-step-150: #363a31;
  --ion-color-step-200: #41453b;
  --ion-color-step-250: #4b5045;
  --ion-color-step-300: #565b50;
  --ion-color-step-350: #61665c;
  --ion-color-step-400: #6d7268;
  --ion-color-step-450: #787d74;
  --ion-color-step-500: #84897f;
  --ion-color-step-550: #90958b;
  --ion-color-step-600: #9ca195;
  --ion-color-step-650: #a8ad9f;
  --ion-color-step-700: #b5b9aa;
  --ion-color-step-750: #c1c5b5;
  --ion-color-step-800: #ced1c0;
  --ion-color-step-850: #dadccd;
  --ion-color-step-900: #e6e8d9;
  --ion-color-step-950: #f3f2e7;

  // Primary
  --ion-color-primary: #d6ef79;
  --ion-color-primary-rgb: 214, 239, 121;
  --ion-color-primary-contrast: #171a16;
  --ion-color-primary-contrast-rgb: 23, 26, 22;
  --ion-color-primary-shade: #bdd36b;
  --ion-color-primary-tint: #daf18a;

  // Secondary
  --ion-color-secondary: #e6bd71;
  --ion-color-secondary-rgb: 230, 189, 113;
  --ion-color-secondary-contrast: #171a16;
  --ion-color-secondary-contrast-rgb: 23, 26, 22;
  --ion-color-secondary-shade: #caa563;
  --ion-color-secondary-tint: #e9c582;

  // Dark
  --ion-color-dark: #171a16;
  --ion-color-dark-rgb: 23, 26, 22;
  --ion-color-dark-contrast: #f3f2e7;
  --ion-color-dark-contrast-rgb: 243, 242, 231;
  --ion-color-dark-shade: #141713;
  --ion-color-dark-tint: #2e312d;

  // Success
  --ion-color-success: #d6ef79;
  --ion-color-success-rgb: 214, 239, 121;
  --ion-color-success-contrast: #171a16;
  --ion-color-success-contrast-rgb: 23, 26, 22;
  --ion-color-success-shade: #bdd36b;
  --ion-color-success-tint: #daf18a;

  // Warning
  --ion-color-warning: #e6bd71;
  --ion-color-warning-rgb: 230, 189, 113;
  --ion-color-warning-contrast: #171a16;
  --ion-color-warning-contrast-rgb: 23, 26, 22;
  --ion-color-warning-shade: #caa563;
  --ion-color-warning-tint: #e9c582;

  // Danger
  --ion-color-danger: #f27660;
  --ion-color-danger-rgb: 242, 118, 96;
  --ion-color-danger-contrast: #171a16;
  --ion-color-danger-contrast-rgb: 23, 26, 22;
  --ion-color-danger-shade: #d56854;
  --ion-color-danger-tint: #f48672;

  // Medium
  --ion-color-medium: #a5a99a;
  --ion-color-medium-rgb: 165, 169, 154;
  --ion-color-medium-contrast: #171a16;
  --ion-color-medium-contrast-rgb: 23, 26, 22;
  --ion-color-medium-shade: #919588;
  --ion-color-medium-tint: #afb3a5;

  // Light
  --ion-color-light: #f3f2e7;
  --ion-color-light-rgb: 243, 242, 231;
  --ion-color-light-contrast: #171a16;
  --ion-color-light-contrast-rgb: 23, 26, 22;
  --ion-color-light-shade: #d6d5cc;
  --ion-color-light-tint: #f4f3e9;
}

// Ionic color use
@media (prefers-color-scheme: dark) {
  body {
    --ion-background-color: #171a16;
    --ion-background-color-rgb: 23, 26, 22;

    --ion-text-color: #f3f2e7;
    --ion-text-color-rgb: 243, 242, 231;

    --ion-border-color: rgba(243, 242, 231, 0.12);
  }

  a {
    color: #d6ef79;
  }
}
